h1 {

    font-family: Helvetica;

    background-color: powderblue;

    width: 510px;
    
    height: 40px;

    border-radius: 10px;

    padding-left: 10px;

    position:initial;    
}



.blogimg {

    padding-top: 40px;
    
    padding-left: 40px;

    border-radius: 20px;

}



p {
	
    font-family:Helvetica;

    font-size: 150%;

    color: rgb (49, 155, 76);
}



.comicimg {

    padding-top: 43px;
    
    padding-left: 200px;

    padding-bottom:10px ;

}



imgbox {

    display: flex;

    font-family: Helvetica; 

    height: 100px;

    padding-left: 100px;

}


msgbox {

    background-color: lightgrey;
    width: 100px;
    border: 10px solid rgb(0, 23, 99);
    padding: 7px;
    padding-top: 10px;
    position: fixed;
    font-size: 20px;

}

ibox {

	padding-top: 540px;
	font-family: Helvetica;
	position: absolute;
    padding-left: 140px;

}

