h1 {

    font-family: Century Gothic;

    background-color: powderblue;

    width: 510px;
    
    height: 40px;

    border-radius: 10px;

    padding-left: 10px;
    
}



.blogimg {

    padding-top: 40px;
    
    padding-left: 40px;

    border-radius: 20px;

}



p {
	
    font-family:Helvetica;

    font-size: 150%;

    color: rgb (49, 155, 76);
}


.comicimg {

    padding-top: 40px;
    
    padding-left: 40px;

    padding-bottom:10px ;

}



.imgbox {

    display: flex;

    justify-content:space-between;

    height: 100px;

}

msgbox {

    background-color: lightgrey;
    width: 10px;
    border: 10px solid rgb(0, 23, 99);
    padding: 7px;
    /*padding-top: 25px;*/

}
